# R Project Files
.Rproj.user/
*.Rproj

# R Session Files
.Rhistory
.Rdata
.RData
.Renviron

# IDE Files
GRAB.Rproj
.vscode/
.index

# Lintr config
.lintr

# Compiled Object Files
src/*.o
src/*.so
src/*.dll

# Package Build Files
*.tar.gz
*.zip

# Temporary Files
*~
.DS_Store
Thumbs.db
GRAB.Rcheck/

# File history
.lh/

example/