.Rhistory
.Rproj.user/742729E0/cpp-definition-cache
.Rproj.user/shared/notebooks/paths
.Rproj.user/742729E0/sources/prop/INDEX
.Rproj.user/742729E0/sources/prop/9BB35C0B
.Rproj.user/742729E0/sources/prop/95E340B9
.Rproj.user/742729E0/sources/prop/78D9B039
.Rproj.user/742729E0/sources/prop/3C7CEB83
.Rproj.user/742729E0/pcs/windowlayoutstate.pper
.Rproj.user/742729E0/pcs/source-pane.pper
.Rproj.user/742729E0/pcs/files-pane.pper
.Rproj.user/742729E0/cpp-definition-cache
*.pper
